---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Formacion en Desarrollo Web",
    company: "Freelance",
    description:
      "Estoy aprendiendo a programar usando frameworks como Astro, Next.js, Svelte y React. Ademas de aprender a usar herramientas de desarrollo como Git, Github, Vercel, Netlify, entre otros. ",
    
  },
  {
    date: "Junio 2023 - Diciembre 2023",
    title: "Diseñador Web con Wordpress",
    company: "ESPECTACULOS LORCA NAIBOA SL",
    description:
      "Me encargaba de diseñar y mantener la web de compratuevento.com , ademas de gestionar los pedidos y automatizar las ventas en Google Sheets. ",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
